.row{
    display: flex;
    justify-content: space-around;
}
.col{
    margin: 10px;
    display: flex;
    height: 40px;
    width: 180px;
    background-color: darkcyan;
    color: aliceblue;
    padding: 5px;
    align-items: center;
    flex: 1;
}
.col-2{
    height: 40px;
    width:200px;
    background-color: darkcyan;
    color: aliceblue;
    padding: 5px;
    align-items: center;
    margin: 10px;
    display: flex;
    flex: auto;
}
.col-1{
    margin: 10px;
    display: flex;
    height: 40px;
    width: 180px;
    background-color: darkcyan;
    color: aliceblue;
    padding: 5px;
    align-items: center;
    flex: 1;
}
.col-3{
    margin: 10px;
    display: flex;
    height: 40px;
    width: 180px;
    background-color: darkcyan;
    color: aliceblue;
    padding: 5px;
    align-items: center;
    flex: 4;
}
