.container{
    width: 950px;
    background-color: silver;
    margin: 20px auto;
    display:inline-flexbox;
    padding-top: 5px;

}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 25px;

}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 5px;
    margin-right: 20px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin-bottom: 25px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin-right: 30px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 25px 20px;
}
.row {
    /* TODO - what should go here? */
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 8px;
}
